.tooltip {
    position: absolute;
    background: #f9f9f9;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
    z-index: 1; /* Make sure the tooltip is above the circles */
}

#rent{
    display: none;
}

#rentcol{
    display: none;
}

#col{
    display: none;
}

.box {
    float: left;
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
    clear: both;
}

.blue{
    background-color:#4e79a7
}

.green{
    background-color:#59a14f
}

.red{
    background-color:#e15759
}
.teal{
    background-color:#76b7b2
}
.orange{
    background-color: #f28e2c
}
.pink{
    background-color: #f4cae4;
}

