<html>
<script src='https://d3js.org/d3.v5.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-annotation/2.5.1/d3-annotation.min.js"></script>
<body>
<div id="bar">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <h1 style="margin-left: 500px">Software Engineer Salaries across the US in 2022
    </h1>
    <script type = "module" src="../scripts/barChart.js"></script>
</div>

<p> COVID-19 made hybrid/remote work for Software Engineers the norm. The goal of this narrative visualization is to help you to make a more informed decision about your next job, if you are looking for one! We will explore tech salaries, rent and cost of living in different cities across the US. The Mean software engineer salary by city, is based on this data set obtained from <a href="https://www.kaggle.com/datasets/thedevastator/u-s-software-developer-salaries">Kaggle</a> Please note that these mean salaries are not based on titles, years of experience, or any particular tech stacks, and simply reflect the mean salary for each city in 2022.</p>
<p> It's no surprise that CA tops the list for highest salaries, however you may be better off taking a job in Oakland instead of San Fransisco. San Fransico tech employees lose out on an addition 4% to Cost of Living and Rent compared to their Oakland counterparts. </p>

<div>
    Once you're done with this chart, click here to take a closer look at Rent
    <button id="next" value="click here">Next</button>
</div>

<h3> Hover over the bar chart for more insights </h3>

<div style="align-items: center">
    <p>Salaries Color coded by Region:
    <div><div class='box blue'></div>&nbspWest</div>
    <br>
    <div><div class='box red'></div>&nbspNortheast</div>
    <br>
    <div><div class='box green'></div>&nbspSouthwest</div>
    <br>
    <div><div class='box orange'></div>&nbspSoutheast</div>
    <br>
    <div><div class='box teal'></div>&nbspMidwest</div>
    <br>
    <div><div class='box pink'></div>&nbspRent Plus Cost of Living</div>
    </p>
</div>
</body>
</html>