<html>
<script src='https://d3js.org/d3.v5.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-annotation/2.5.1/d3-annotation.min.js"></script>
<body>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <h1 style="margin-left: 500px">Software Engineer Salaries vs Rent in 2022
        </h1>
        <script type="module" src="../scripts/scatterPlot.js" id="Rent avg"></script>
<p>
        Rental prices are extremely high in the West coast. The lowest Rent is in Akron Ohio, while the highest is in San Fransisco, California
</p>
<div>
        Once you're done with this chart, click here to Explore!
        <button id="explore" value="click here">Next</button>
</div>
<h3> Hover over the bar chart for more insights </h3>
<div style="align-items: center">
        <p>Salaries Color coded by Region:
        <div><div class='box blue'></div>&nbspWest</div>
        <br>
        <div><div class='box red'></div>&nbspNortheast</div>
        <br>
        <div><div class='box green'></div>&nbspSouthwest</div>
        <br>
        <div><div class='box orange'></div>&nbspSoutheast</div>
        <br>
        <div><div class='box teal'></div>&nbspMidwest</div>
        </p>
</div>
</body>
</html>